/* Text Styles */
hr { color: #000000 }
body, table, tr, th /* Normal */
{
 font-size: 100%;
 font-family: 'Segoe UI',Tahoma,Verdana,Arial,sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
table, tr, th
{
 font-size: 100%;
}
span.f_CodeExample /* Code Example */
{
 font-size: 0.90rem;
 font-family: Consolas, Courier,monospace;
}
span.f_Comment /* Comment */
{
}
span.f_CondensedNormal /* Condensed Normal */
{
}
span.f_Heading1 /* Heading1 */
{
 font-size: 1.10rem;
 font-weight: bold;
 color: #5f5f5f;
}
span.f_Heading2 /* Heading2 */
{
 font-style: italic;
 font-weight: bold;
 color: #5f5f5f;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 0.80rem;
}
span.f_InlineCode /* InlineCode */
{
 font-family: Consolas, Courier,monospace;
 color: #640d25;
}
span.f_Notes /* Notes */
{
}
span.f_Tablecontents /* Table contents */
{
}
span.f_Tableheader /* Table header */
{
 font-weight: bold;
}
span.f_Term /* Term */
{
 font-style: italic;
}
span.f_UIElements /* UI Elements */
{
 color: #008000;
}
/* Paragraph styles */
p, p.p_Normal, div.p_Normal, li.p_Normal /* Normal */
{
 text-align: left;
 text-indent: 0;
 line-height: 1.44;
 padding: 0 0 0 0;
 margin: 0.3750rem 0 0.2500rem 0;
}
.p_CodeExample /* Code Example */
{
 font-size: 0.90rem;
 line-height: 1.80;
 page-break-inside: avoid;
 page-break-after: avoid;
 margin: 0 0 0 0;
}
.p_Comment /* Comment */
{
 font-size: 1.00rem;
}
.p_CondensedNormal /* Condensed Normal */
{
 font-size: 1.00rem;
 line-height: 1.20;
 margin: 0.1250rem 0 0.1250rem 0;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 line-height: 1.44;
 padding: 0 0 0 0;
 margin: 0.7500rem 0 0.2500rem 0;
}
.p_Heading2 /* Heading2 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 line-height: 1.44;
 padding: 0 0 0 0;
 margin: 0.3750rem 0 0.2500rem 0;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 0.80rem;
 margin: 0.3750rem 0 0.6250rem 0;
}
.p_InlineCode /* InlineCode */
{
 font-size: 1.00rem;
}
.p_Notes /* Notes */
{
 font-size: 1.00rem;
}
.p_Tablecontents /* Table contents */
{
 font-size: 1.00rem;
 margin: 0.3750rem 0 0.1250rem 0;
}
.p_Tableheader /* Table header */
{
 font-size: 1.00rem;
}
.p_Term /* Term */
{
 font-size: 1.00rem;
}
.p_UIElements /* UI Elements */
{
 font-size: 1.00rem;
}
/* Table styles */
table.Box {
 width: 100%;
 background-color: #F5F5F5;
 border: none;
 border-spacing: 0;
}
table.Box tr.Box {
 text-align: left;
}
table.Box th.Box, table.Box td.Box {
 vertical-align: top;
 padding: 0.3750rem;
 border: none;
}
table.BoxCaution {
 width: 100%;
 background-color: #FFDACC;
 border: none;
 border-spacing: 0;
}
table.BoxCaution tr.BoxCaution {
 text-align: left;
}
table.BoxCaution th.BoxCaution, table.BoxCaution td.BoxCaution {
 vertical-align: top;
 padding: 0.3750rem;
 border: none;
}
table.BoxCode {
 width: 100%;
 background-color: #F5F5F5;
 border: none;
 border-spacing: 0;
}
table.BoxCode tr.BoxCode {
 text-align: left;
}
table.BoxCode th.BoxCode, table.BoxCode td.BoxCode {
 vertical-align: top;
 padding: 0.3750rem;
 border: none;
}
table.BoxImportant {
 width: 100%;
 background-color: #E2DAF1;
 border: none;
 border-spacing: 0;
}
table.BoxImportant tr.BoxImportant {
 text-align: left;
}
table.BoxImportant th.BoxImportant, table.BoxImportant td.BoxImportant {
 vertical-align: top;
 padding: 0.3750rem;
 border: none;
}
table.Frame {
 width: 100%;
 border: solid thin #E1E1E1;
 border-spacing: 0;
}
table.Frame tr.Frame {
 text-align: left;
}
table.Frame th.Frame, table.Frame td.Frame {
 vertical-align: top;
 padding: 0;
 border: none;
}
div.hmrotate90  { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; }
div.hmrotate270 { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; transform: rotate(180deg); }

a.imagetogglelink {
  position: relative;
  display: inline-block;
}
svg.image-toggle-magnifier { /* Magnifier icon for image toggles */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40pt;
  height: 40pt;
  max-width: 80%;
  max-height: 80%;
  fill: #FFFFFF;
  stroke: #808080;
  stroke-width: 0.5pt;
  opacity: 0.3;
  transition: opacity 0.3s;
}
img.image-toggle:hover + svg.image-toggle-magnifier, svg.image-toggle-magnifier:hover {
  opacity: 1;
}



#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1)  }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1) }
.hmImageMap:hover a.hmHotspotRect {opacity:0.3; filter:alpha(opacity=30); }
.hmImageMap:hover a.hmHotspotEllipse { opacity:0.3; filter:alpha(opacity=30); }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
